/* .container {
    display: flex;
    align-items: center;
    justify-content: center;
} */
.card_container p {
    width: 80vw;
    height: 32vh;
    font-size: 30px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 16rem 0rem 16rem;
    text-align: center;
   
}
.left{
    font-size: 2rem;

}
.right {
    position: absolute;
    left: 10rem;
}