.container {
    display: flex;
    justify-content: space-between;
}
.spcl_btn {
    font-size: 14px;
    color: #14bef0;
    font-weight: 400;
    padding: 12px 16px;
    border: 1.5px solid #14bef0;
    background-color: #fff;
    cursor: pointer;
    
    text-align: center;
    border-radius: 4px;
}