@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Pacifico&family=Slabo+27px&family=Source+Serif+4:opsz@8..60&display=swap');
.container {
    display: flex;
    justify-content: space-between;
}

.text_wraper > h2 {
    font-size: 24px;
    font-weight: 600;
    font-family: Lato;
    word-spacing: normal;
    letter-spacing: 0.6px;
}
.spcl_btn {
    font-size: 14px;
    color: #14bef0;
    font-weight: 400;
    padding: 12px 16px;
    border: 1.5px solid #14bef0;
    background-color: #fff;
    cursor: pointer;
    
    text-align: center;
    border-radius: 4px;
}