.container {
  min-height: 10vh;
  width: 32vw;
 border-bottom: 1px solid rgb(251, 245, 245);
 border-radius: 0.5rem;
  margin-top: 1.2rem;
  color: #414146;
 
  
}
.container > p {
  color: #787887;
  font-weight: 600;
}
.toggle {
display: inline-block;
font-size: 16px;
text-decoration: underline;

}
