.container {
    height: 95%;
    width: 13vw;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 1rem;
    border: 1px solid #f0f0f5;
    box-shadow: 0 4px 8px rgba(0,0,0,.12);
    border-radius: 24px;
    overflow: hidden;
    background-color: white;
   
    
    
}

.img_container {
    height: 60%;
    width: 12.9vw;
    margin-top: -20px;
   
    background-color: rgb(159, 219, 242);
}
.img_container img {
    height: 92%;
    width: 60%;
    margin: 0.8rem 1rem 0 2.53rem;
    
}
.text {
margin-left: 1rem;
color: #2d2d32;
font-size: 14px;
}
.text p {
    margin-top: 0.5rem;
}