.wraper {
    display: flex;
    min-height: 80vh;
    max-height: 86.8vh;
    width: 100vw;
  
  }
  .img_container {
    width: 50%;
    height: 100%;
    padding-top: 6%;
    display: flex;
    justify-content: right;

  
  }
  .img_container > img {
    height: 68%;
    width: 55%;
    margin-right: 2rem;
   
  }
  .form {
    width: 50%;
    height: 100%;
  
  }
  .form_containers {
    height: 72.8%;
    margin-top: 10%;
    width: 51.6%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 0.5rem 1.6rem 0 1.6rem;
    border: 1px solid rgb(228, 226, 226);
    border-radius: 0.5rem;
  }
  .form_container {
    display: flex;
    flex-direction: column;
    height: 18%;

  }

  .form_container  input {
    height: 2.2rem;
    
  
    border: 1px solid #cacad3;
    border-radius: 0.2rem;
  
    color: #27272e;
    padding-left: 1rem;
    margin-bottom: 0.2rem;
   
  }

  .form_container  input:focus {
    outline-style: solid;
    outline-color: #3498db;
    outline-width: 1px;
    border: none;
  
  }
  .form_container  label {
    color: #5c5c5f;
    font-size: 1rem;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
  }

  .form_container  input::placeholder {
    color: rgb(202, 202, 211);

    font-size: 0.9rem;
  }
  .second {
    display: flex;
    align-items: center;
    margin-top: 0.6rem;
}
  .second > input[type='checkbox']{
    height: 20px;
    width: 20px;
    cursor: pointer;

}
.second > label  {
    font-size: 12px;
    color: #5c5c5f;
    margin-left: 1rem;
    margin-top: 0.6rem;

}
.terms {
    margin-left: 2rem;
    font-size: 10px;
    color: #5c5c5f;

}
.terms > span {
    color: #14bef0;
}
.terms > span:hover{
text-decoration: underline;
}
.otp_btn {
    height: 3rem;
     background-color: #14bef0; 
     color: white; 
     margin: 1rem 0;
    border: 1px solid #14bef0; 
    font-size: 16px;
    border-radius: 0.4rem;
    cursor: pointer;
    position: relative;
   

}
.otp_btn:disabled{
  height: 3rem;
  background-color: #eaedf1; 
  color: rgb(54, 51, 51); 
  margin: 1rem 0;
 border: 1px solid #e1e4e7; 
 font-size: 16px;
 font-weight: 500;
 border-radius: 0.4rem;
 cursor: no-drop;


}

.error {
  color: red;
  font-size: 10px;
}
