.wraper {
    height: 3.5rem;
    padding: 1.14rem;
    border-bottom: 1px solid rgb(210, 210, 220);
}
.text {
    font-size: 0.9rem;
    color: rgb(65,65,70);
}
.textClicked {
   
    border-left: 4px solid #14bef0;
   
    line-height: 1.16rem;
    font-size: 0.9rem;
    color: rgb(65,65,70);
    font-weight: 700;
    background-color: rgb(240, 240, 245);
}