.wraper {
  margin: 2rem 10rem 0rem 10rem;
  width: 80vw;
  position: relative;
  overflow-x: hidden;
}
.wraper h1 {
  text-align: center;
  color: #414146;
  font-weight: 500;
  margin-bottom: -2rem;
}

.container {
  height: 38vh;
  width: 76vw;
  overflow: hidden;
  display: flex;
}

.leftIcons {
  font-size: 2.8rem;
  position: absolute;
  cursor: pointer;
  top: 5rem;
}
.rightIcons {
  font-size: 2.8rem;
  font-weight: 400;
  right: 0;
  top: 5rem;
  position: absolute;
  cursor: pointer;
}
