.wraper {
    margin: 2rem 10rem 2rem 10rem;
overflow-x: hidden;
}
.wraper h1 {
    text-align: center;
    color: #414146;
    font-weight: 500;
    /* margin-bottom: -4rem; */
}

.container {
    overflow: scroll;
    height: 38vh;
    width: 80vw;
    display: flex;
}
.container::-webkit-scrollbar {
    display: none;
}

.leftIcons {
    font-size: 2.8rem;
    position: relative;
    top: 22vh;
    left: 2rem; 
    cursor: pointer;
}
.rightIcons {
    font-size: 2.8rem;
    position: relative;
    left: 72vw;
    top: 22vh;
    cursor: pointer;
}
