.container {
    padding: 1.5rem 10rem 1.5rem 10rem;
    
}

.wraper {
    height: 45.8vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    gap: 2rem;
    border-bottom: 1px solid rgb(204, 200, 200);
}
.articles_text {
    height: 15vh;
    width: 22vw;
    cursor: pointer;

}
.articles_text h1 {
    margin: 0.5rem 0;
    font-weight: 600;
    color: #414146;
}
.articles_text p {
    font-size: 14px;

}
.btn {
    margin-top: 2rem;
    height: 2.8rem;
    width: 10rem;
    color: white;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 0.4rem;
    background-color: #14bef0;
}