.wraper {
    margin-top: 1.6rem;
    height: 40vh;
    width: 20vw;
    cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

.wraper img {
    border-radius: 0.4rem;
    height: 26.8vh;
    margin: 0 1.5rem 0 0.5rem;
    width: 18vw;
}
.wraper h4 {
    margin-top: 0.5rem;
    font-weight: 700;
    line-height: 1.5;
    color: #414146;
    margin: 0 1.5rem 0 0.5rem;
}
.wraper h4:hover {
    color: #14bef0;
}
.wraper p {
     margin: 0 1.5rem 0 0.5rem;
    font-size: 14px;
    color: rgb(28, 25, 25);
}