.container {
    height: 95%;
    width: 13vw;
    
    display: flex;
    flex-direction: column;
    
    
    border: 1px solid #f0f0f5;
    box-shadow: 0 4px 8px rgba(0,0,0,.12);
    border-radius: 24px;
    
    background-color: white;
   
    
    
}

.img_container {
    width: 200px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    height: 170px;
   
    background-color: rgb(159, 219, 242);
}
.img_container img {
    height: 90%;
    width: 60%;
    margin: 1rem 1rem 0 2.53rem;
    
}
.text {
margin-left: 1rem;
color: #2d2d32;
font-size: 14px;
margin-top: 1rem;
}
.text > h2 {
    font-weight: 550;


}
.text p {
    margin-top: 0.5rem;
}