.wraper {
  margin: 0rem 10rem 2rem 10rem;
  height: 11.8vh;
  width: 80vw;
  display: flex;
  position: relative;
}
.wraper > button {
  height: 2.2rem;
  width: 2.2rem;
  border: none;
  color: rgb(120, 120, 135);
  padding-top: 0.6rem;
  background-color: rgb(248, 246, 246);
  border-radius: 50%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.left {
  position: absolute;
  top: 1rem;
  left: 0;
}
.right {
  position: absolute;
  right: 0.26rem;
  top: 1rem;
  z-index: auto;
}

.wraper::-webkit-scrollbar {
  display: none;
}
/* .wraper > div {
    
   

    
   
} */
