*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wraper {
    height: 100vh;
    width: 100vw;
    background-color: rgb(240, 240, 245);
}
.nav{
    height: 5%;
    border: 1px solid blue;
    background: #fff;
}
.header{
    height: 8%;
    border: 1px solid cyan;
    background: #fff;
}
.orders{
    height: 80%;
   margin: 1.9rem 2.2rem;
    background: #fff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;

}
.orders > header {
    height: 12%;
    border-bottom: 1.5px solid rgb(210, 210, 220);
    
}
.details {
    display: flex;
    height: 88%;
}
.details > aside  {
    width: 16.8%;
    height: 100%;
   
    border-right: 1px solid rgb(210, 210, 210);
    
}

.appointDetails {
    width: 83.2%;
    height: 100%;
    
}