* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wraper {
  height: 12vh;
  width: 18vw;
  background: #fff;
  display: flex;
  gap: 1rem;
  margin-right: 2rem;
  padding: 0.5rem;
  line-height: 1.1;
  transition: all 0.3s ease-in-out;
  color: #414146;
  border: 0.5px solid #eeeef4;
  border-radius: 0.4rem;
}

.text {
   
  height: 10vh;
  width: 18vw;
}
.text > p {
  
  padding-top: 0.2rem;
  font-size: 12px;
}

.text > h4 {
  
  font-weight: bold;
}
